$main-y-c: #e8c334;
$main-b-c: #19170d;
$main-bgc: white;
$main-gr-c: #686972;
$main-bgy-c: #ffe88a;

:root {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI,
    Helvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI,
    Helvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  background-color: $main-bgc;

  @media screen and (min-width: 599px) {
    line-height: 1.7;
  }
}

// 文字と線 ----------------------------
a {
  text-decoration: none;
  color: $main-b-c;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
  font-size: 16px;
  margin: 0;
}

p {
  color: $main-b-c;
}

a {
  text-decoration: none;
}

h1 {
  color: $main-y-c;
}

h2 {
  margin: 30px auto 21px auto;
  text-align: center;

  img {
    height: 50px;
    width: auto;
  }
}

h3 {
  font-weight: 500;
  color: $main-b-c;
  text-align: justify;
  line-height: 1.5;
  @media screen and (min-width: 599px) {
    line-height: 1.7;
  }
}

.h3_text_only {
  margin-top: 38px;
}

// h4は画像
h4 {
  color: $main-b-c;
}

h5 {
  font-size: 23px;
  color: $main-b-c;
  position: relative;
  margin-bottom: 3px;
  line-height: 1.25;
  padding-left: 1em;
  text-indent: -1em;

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    background-image: url(/images/bousai-mark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: -1px 5px 5px 0;
  }
}

.h5sub {
  font-size: 16px;
  font-weight: 600;
  margin: -8px 0 0 20px;
}

h6 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 5px;
}

.lead {
  margin: 10px 0 0 0;
  @media screen and (min-width: 599px) {
    margin: 39px 0 0 0;
  }
}
.credit {
  font-size: 14px;
  text-align: right;
  color: $main-b-c;
  margin: 5px 0 0 0;
  line-height: 1.5;
}

.notes {
  font-size: 14px;
  margin-top: 3px;
  text-align: justify;
  line-height: 1.5;
}

.caption {
  margin-top: 3px;
  text-align: justify;
}

.border-max {
  width: 100%;
  background-color: $main-b-c;
  height: 2px;
  width: calc(100% + 32px); /* 左右のマージンを考慮した幅に設定 */
  margin: 30px -16px; /* 上下のマージンを指定 */
}

.border-1px {
  width: 100%;
  background-color: $main-b-c;
  height: 1px;
  margin: 20px 0 20px 0;
}

.border-03px {
  width: 100%;
  background-color: $main-b-c;
  opacity: 0.3;
  height: 1px;
  margin: 20px 0 20px 0;
}

// header バッグ帯 --------------------------------------------------------

#bousai-header {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.bousai-header-bg {
  background-color: $main-y-c;
  height: 55px;
  margin: 0;
  z-index: -100;
}
.bousai-header-bg-line {
  background-image: url(/images/bousai-h_bg.svg);
  background-color: $main-y-c;
  background-repeat: repeat;
  background-size: contain;
  position: relative;
  height: 12px;
  margin: 0;
}

// ナビ 始まり--------------------------------------------------------

// 開閉メニュー---------------------------------

.navi-btn-main {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 714px;
}
.naviBtn {
  display: block;
  position: absolute;
  z-index: 13;
  right: 16px;
  top: -43px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;

  @media screen and (min-width: 599px) {
    right: 0;
  }

  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 6px;
    background: $main-b-c;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:nth-child(1) {
      top: 10px;
    }
    &:nth-child(2) {
      top: 20px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }
}
// 開いてる時のボタン
.naviBtn.active {
  span {
    &:nth-child(1) {
      top: 16px;
      left: 6px;
      background: $main-b-c;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 16px;
      background: $main-b-c;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.naviSp {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  color: $main-b-c;
  background: $main-y-c;
  text-align: center;
  width: 50%;
  height: 100vh;
  opacity: 0;
  margin-top: 15px;
  // transition: opacity 0.6s ease;
  visibility: hidden;

  img {
    margin-top: 50px;
    width: 50%;
  }

  @media screen and (min-width: 599px) {
    max-width: 714px;
    position: absolute;
    margin-top: 0;
  }
}

.menu-ul {
  margin: 30px auto 0 auto;
  padding: 0;
  width: 100%;
}

.menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: 0.4s all;
  display: inline-block;
  margin: 20px 0 0 0;
  height: 39px;
  font-size: 18px;
  font-weight: 600;
  color: $main-b-c;
  text-align: center;

  &:last-child {
    padding-bottom: 0;
  }
  a {
    display: inline-block;
    color: $main-b-c;
    position: relative;
    text-decoration: none;
    width: max-content;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $main-b-c;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  @media screen and (min-width: 599px) {
    font-size: 23px;
    margin: 25px 0 0 0;
    img {
      margin: 20px 0 0 0;
      width: 39%;
    }
  }
}

// jQueryで
nav.naviSp.active {
  opacity: 1;
  visibility: visible;
}

//ロゴと見出し------------------------------------------------------------
.bousai-logo_headline-main {
  position: relative;
  margin: 0 16px 20px 16px;
}

.bousai-logo_headline {
  display: flex;
  position: relative;
  @media screen and (min-width: 599px) {
    margin: 0 auto;
    max-width: 714px;
  }
}

.bousai-logo {
  position: absolute;
  top: -30px;
  left: 0;
  width: 140px;

  img {
    height: 100%;
    width: auto;
  }
}

.page-headline {
  position: absolute;
  top: 5px;
  right: 0;
  margin-left: 150px;
  max-width: 180px;

  img {
    height: 100%;
    width: 100%;
  }
}

// レスポンシブでのロゴと見出しの大きさまとめ
@media screen and (max-width: 350px) {
  .bousai-logo {
    width: 106px;
  }
  .page-headline {
    margin-left: 110px;
  }
}
@media screen and (min-width: 500px) {
  .bousai-logo_headline-main {
    margin-bottom: 40px;
  }
  .bousai-logo {
    width: 170px;
  }
  .page-headline {
    top: 10px;
    max-width: 210px;
  }
}
@media screen and (min-width: 599px) {
  .bousai-logo_headline-main {
    margin-bottom: 40px;
  }
  .bousai-logo {
    width: 185px;
  }
  .page-headline {
    top: 15px;
    max-width: 230px;
  }
}

// footer --------------------------------------------------------

#gototop {
  margin: 0 auto;
  max-width: 714px;
  position: relative;
  cursor: pointer;
  z-index: 500;

  img {
    position: absolute;
    top: 0;
    right: 16px;
    width: 39px;
    @media screen and (min-width: 599px) {
      top: -30px;
    }
  }
}

// main--------------------------------------------------------

#content-page {
  margin: 0 16px;
  position: relative;

  @media screen and (min-width: 599px) {
    margin: 0 auto;
    max-width: 714px;
  }
}

.content-main {
  display: block;
}
.content-group {
  display: block;
  margin-top: 30px;

  @media screen and (min-width: 599px) {
    flex-basis: calc(50% - 20px);
  }
}

.content-g_img {
  margin-top: 16px;
  img {
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    pointer-events: none;
  }
}

.content-group-scroll {
  display: block;
  margin-top: 30px;
}

.content-g_img_scroll {
  margin-top: 10px;
  margin-right: -16px;
  overflow-x: scroll;

  img {
    height: 800px;
  }
  @media screen and (min-width: 599px) {
    margin-right: 0;
  }
}

#content-group-pc-flex {
  @media screen and (min-width: 599px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// リンク部分------------------------------------------
.yomiurimember {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lockicon {
  height: 20px;
  margin: -2px 0 0 0;
}

.linklist-photo {
  display: block;
  position: relative;
}

.linklist-menu-t {
  font-size: 14px;
  color: white;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $main-gr-c;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.linklist-photo-i {
  margin-bottom: 20px;
}

.linklist-photo-img {
  width: 100%;
  height: 180px;
  margin-top: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 50% 100%;
  }
}

.linklist-menu-item {
  span {
    font-weight: 600;
  }
  ul {
    margin: 5px 0 0 0;
  }
  li {
    margin: 0 0 5px -15px;
  }
}

.lockicon-list {
  img {
    height: 15px;
  }
  p {
    margin: 0;
  }
}

.linklist-menu-item-head {
  display: flex;

  align-items: center;
}
.lockicon-list {
  height: 20px;
  margin: -3px 0 0 -3px;
}

.link-next {
  margin-top: 20px;
}

.nextpage {
  text-align: center;
  margin-top: 30px;
}

.nextbtn {
  /*テキストの基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  border: 1px solid $main-b-c;
  border-radius: 5px;
  min-width: 210px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: $main-b-c;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0s;

  /*hoverした際の変化*/
  &:hover {
    background: $main-b-c;
    color: white;
  }

  span {
    /*絶対配置でテキストの位置を決める*/
    position: absolute;
    font-weight: 600;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*アニメーションの指定*/
    transition: all 0.1s;
    /*ブロック要素にしてテキスト折り返しなし*/
    display: block;
    white-space: nowrap;

    /*差し替わるテキストの設定*/
    &:nth-child(2) {
      opacity: 0; /*透過0に*/
    }
  }

  /*hoverするとテキストが入れ替わる設定*/
  &:hover {
    span {
      &:nth-child(1) {
        opacity: 0; /*透過0に*/
      }

      &:nth-child(2) {
        opacity: 1; /*不透明に*/
      }
    }
  }
}

// 動き------
.upface_op {
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.upface_op.on {
  opacity: 1;
}

.upface_op_pc_none {
  transition: 0.3s ease-in-out;
  opacity: 0;

  @media screen and (min-width: 599px) {
    transition: none;
    opacity: 1;
  }
}
.upface_op_pc_none.on {
  opacity: 1;
  @media screen and (min-width: 599px) {
    opacity: 1;
  }
}

.upface {
  transition: 0.3s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
}
.upface.on {
  transform: translateY(0);
  opacity: 1;
}

.upface_left {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: translateX(-10px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.upface_left.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  transform: translateX(0);
}

.upface_right {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: translateX(10px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.upface_right.on {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  transform: translateX(0);
}
