@use "bousai_list" as l;
@use "bousai_item";

// topページ ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓----------
#top {
  width: 100%;
  max-width: 714px;
  margin: 0 auto;
}
.top-main {
  display: block;
  position: relative;
  margin: 0 16px;
  @media screen and (min-width: 599px) {
    margin: 0 0;
  }
}

.top-bousai-logo {
  position: absolute;
  top: -30px;
  left: 0;
  width: 210px;
  @media screen and (min-width: 599px) {
    width: 250px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.top-lead-h3 {
  margin: 70px 0 0px 0;
  max-width: 714px;
}

#content-menu {
  margin: 30px auto 0 auto;
  max-width: 714px;
  @media screen and (min-width: 599px) {
    margin: 20px auto 0 auto;
  }
}

.content-menu-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 714px;
  @media screen and (min-width: 599px) {
    margin-right: 35px;
  }
}

.content {
  display: block;
  position: relative;
  max-width: 599px;
  margin: 0 60px;
  padding: 30px 0;

  @media screen and (min-width: 599px) {
    margin: 0 0;
    width: auto;
    flex-basis: calc(45% - 0px);
  }
}

.content-headline-img {
  display: flex;
}

.content-headline-right,
.content-headline-left {
  top: 0;
  position: absolute;
  background-color: white;
  border: solid 3px l.$main-b-c;
  border-radius: 2px;
  padding: 10px;
  img {
    width: 40px;
  }

  &:hover {
    background-color: l.$main-bgy-c;
  }
}

.content-headline-right {
  right: -30px;
}

.content-headline-left {
  left: -30px;
  @media screen and (min-width: 599px) {
    left: auto;
    right: -30px;
  }
}

.content-img {
  display: inline-block;
  text-align: center;
  height: 250px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      opacity: 0.99;
    }
  }
}

.content-element {
  text-align: left;

  p {
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 0 0 0;
    text-align: justify;
  }
}

// 関東大震災ページ ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓--------------

// 画像スライド ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓------------------
.photo-slide-main {
  margin: 30px auto;
}
.photo-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 70.64%; /* 1:1.427 の比率に基づくパディングトップの割合 */
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 100%;
  animation: change-img 20s infinite;

  &:nth-of-type(1) {
    animation-delay: 0s;
  }
  &:nth-of-type(2) {
    animation-delay: 5s;
  }
  &:nth-of-type(3) {
    animation-delay: 10s;
  }
  &:nth-of-type(4) {
    animation-delay: 15s;
  }
}

@keyframes change-img {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    z-index: -1;
  }
}

// 画像スライド ↑↑↑↑↑↑----------------------

.gke-fire-group {
  background-color: l.$main-gr-c;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

#gke-fire-date {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  width: auto;

  p {
    margin: 5px 10px 16px 10px;
    font-size: 18px;
    color: white;
    line-height: 1.25;
  }
}

.c-pointer {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: l.$main-y-c;
  }
}

#gke-fire-date p.c-pointer.clicked {
  color: yellow;
  text-decoration: none;
}

.gke-fire-img {
  margin: 20px 10px 20px 0;
  width: 230px;
}

.link-item {
  text-align: center;
  margin: 40px 0 30px 0;

  p {
    font-weight: 600;
    line-height: 1.4;
  }
  a {
    font-weight: 600;
    color: white;
  }
}

.next-article-link {
  margin: 10px auto 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  height: 40px;
  background: black;
  text-align: center;
  width: fit-content;
  justify-content: center;
}

.next-article-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border: 20px solid transparent; /*吹き出しの縦幅*/
  border-left: 15px solid l.$main-b-c; /*吹き出しの横幅*/
}
